html {
 --bgColorIntro: #ffd42d;
 --bgColorWho: #1544c0;
 --bgColorWhat: #f86449;
 --bgColorWork: #5210ac;
 --bgColorW: #ffffff;
 --fontColorB: #2f2f2f;
 --fontColorW: #ffffff;
 --borderB: #2f2f2f;
 --ledgeIntro: #ffd948;
 --ledgeWho: #214fc6;
 --ledgeWhat: rgba(255, 255, 255, 0.08);
 --ledgeWork: #5817b3;
 --footerMain: #f1f5f5;
 --footerSub: #ffffff;
 --contentIntro: #fffade;
 --contentWho: #96ffca;
 --contentWhoSection: #e7eeed;
 --contentWhat: #fff55a;
 --contentWork: #fbe10f;
	scroll-behavior: smooth;
}

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Cabin', sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}
ul, ol {
	list-style: none;
}
/*body::-webkit-scrollbar {
    display: none;
}*/

.disable {
	pointer-events: none;
}

/** CURSOR **/
.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #ffffff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

.preload {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh; 
	width: 100%;
	z-index: 9999;
	transition: all 0.5s ease;
}

body[data-state="intro"] .preload {
	background: var(--bgColorIntro);
	color: var(--fontColorB);
}

body[data-state="who"] .preload {
	background: var(--bgColorWho);
	color: var(--contentWho);
}

body[data-state="what"] .preload {
	background: var(--bgColorWhat);
	color: var(--contentWhat);
}
body[data-state="work"] .preload {
	background: var(--bgColorWork);
	color: var(--contentWork);
}

.preload h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	animation: loadAni 1s infinite alternate;
}

/*body[data-state="intro"] .preload {
	color: var(--fontColorB);
}
body[data-state="who"] .preload {
	color: var(--contentWho);
}
body[data-state="what"] .preload {
	color: var(--contentWhat);
}
body[data-state="work"] .preload {
	color: var(--contentWork);
}*/

@keyframes loadAni {
	from {letter-spacing: 10px; opacity: 0.1;}
	to {letter-spacing: 0px; opacity: 1;}
}

.preload-finish {
	opacity: 0;
	pointer-events: none;
}

/** Navabr Starts Here **/

#navbar {
	position: fixed;
	top: 10px;
	left: 0px;
	background: transparent;
	color: var(--fontColorB);
	height: 100px;
	line-height: 100px;
	width: 100%;
	z-index: 10;
	user-select: none;
	text-align: center;
}
.logo {
	float: left;
	margin-left: 35px;
	margin-top: 15px;
	overflow: hidden;
}
.main-logo {
	width: 80px;
}
#navbar ul {
	display: inline-block;
	list-style: none;
	margin-top: 0px;
	text-align: center;
	transition: transform 0.5s ease-out;
	-webkit-transition: transform 0.5s ease-out;
}
.clicknav {
	position: absolute;
	right: 10px;
	cursor: pointer;
	color: rgb(13, 26, 38);
	font-size: 2.0em;
	letter-spacing: 1px;
	z-index: 9999;
}
#navbar li {
	display: inline-block;
}
#navbar li a {
	color: var(--fontColorW);
	display: block;
	font-weight: bold;
	font-size: 0.9em;
	height: 50px;
	letter-spacing: 1px;
	margin: 0 15px;
	padding: 0 4px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

.wrapper[data-state= "intro"] #navbar li a {
	color: var(--fontColorB);
}
#navbar li a:hover {
	/*color: rgb(28, 121, 184);*/
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 5px;
	bottom: -20px;
}

body[data-state="intro"] #navbar li a:before, #navbar li a:after {
	background: var(--contentIntro);
}

body[data-state="who"] #navbar li a:before, #navbar li a:after {
	background: var(--contentWho);
}

body[data-state="what"] #navbar li a:before, #navbar li a:after {
	background: var(--contentWhat);
}

body[data-state="work"] #navbar li a:before, #navbar li a:after {
	background: var(--contentWork);
}
#navbar li a:before {
	left: 0;
	transition: 0.5s;
}
#navbar li a:after {
	background: #ffffff;
	right: 0;/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}
#navbar li a:hover:before {
	background: #ffffff;
	width: 100%;
	transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}
#navbar li a:hover:after {
	background: transparent;
	width: 100%;/* transition: 0s; */
}
.clicknav span:focus {
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
}
/** Click Navbar Starts here **/
.overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 80%;
	background-color: #2f2f2f;
	overflow: hidden;
	transition: 0.5s;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}

.wrapper[data-state= "intro"] .overlay {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "who"] .overlay {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "what"] .overlay {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "work"] .overlay {
	background-color: var(--fontColorW);
}
.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.overlay a {
	text-decoration: none;
	font-size: 40px;
	color: #818181;
	display: block;
	transition: 0.3s;
	line-height: 2em;
}

.wrapper[data-state= "intro"] .overlay a {
	color: var(--bgColorIntro);
}

.wrapper[data-state= "who"] .overlay a {
	color: var(--bgColorWho);
}

.wrapper[data-state= "what"] .overlay a {
	color: var(--bgColorWhat);
}

.wrapper[data-state= "work"] .overlay a {
	color: var(--bgColorWork);
}

#nav-icon2 {
	position: relative;
	top: 38px;
	right: 5px;
	width: 35px;
	height: 35px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	overflow: hidden;
}
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: var(--borderB);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon2 span:nth-child(even) {
  left: 49%;
  border-radius: 0 9px 9px 0;
}
#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}
#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}
#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 10px;
}
#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 20px;
}
#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon2.open span:nth-child(1) {
  left: 3px;
  top: 6px;
}
#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 6px;
}
#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
  transition: 0.5s;
}
#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
  transition: 0.5s;
}
#nav-icon2.open span:nth-child(5) {
  left: 3px;
  top: 17px;
}
#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 17px;
}
/** Click Navbar Ends Here **/

/** Contact Overlay Starts Here **/
.overlay2 {
	height: 0%;
	width: 95%;
	position: fixed;
	z-index: 999999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	transition: 0.5s;
}

.wrapper[data-state= "intro"] .overlay2 {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "who"] .overlay2 {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "what"] .overlay2 {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "work"] .overlay2 {
	background-color: var(--fontColorW);
}
.overlay-content2 {
	width: 100%;
	height: 100%;
}
.contact-content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cont-nav {
	font-size: 1em;
	float: right;
	padding-right: 35px;
	cursor: pointer;
}
.contact-content h2, .contact-content p {
	margin: 0px;
	user-select: text;
}
.contact-content h2 {
	font-size: 6em;
	color: var(--fontColorB);
}

/** Mob Nav Contact **/
.navcont-content {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}
.navcont-content h2, .navcont-content p {
	margin: 0px;
	user-select: text;
}
.navcont-content h2 {
	font-size: 2em !important;
	color: var(--fontColorB);
}

/** TEXT SHADOW **/
/* 
body[data-state= "intro"] .contact-content h2 {
	text-shadow: 4px 4px 12px var(--bgColorIntro);
}

body[data-state= "who"] .contact-content h2 {
	text-shadow: 4px 4px 12px var(--bgColorWho);
}

body[data-state= "what"] .contact-content h2 {
	text-shadow: 4px 4px 12px var(--bgColorWhat);
}

body[data-state= "work"] .contact-content h2 {
	text-shadow: 4px 4px 12px var(--bgColorWork);
} */
.cont-s-icons {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
}
.s-icon-pos {
	right: 0!important;
	line-height: 1;
}
.mnav-pos {
	transform: none !important;
}
.fa-sty {
	font-size: 0.4em !important;
	margin-left: 5px;
	margin-right: 5px !important;
}
.overlay2 a {
	text-decoration: none;
	display: block;
	transition: 0.3s;
}

.wrapper[data-state= "intro"] .overlay2 a {
	color: var(--bgColorIntro);
}

.wrapper[data-state= "who"] .overlay2 a {
	color: var(--bgColorWho);
}

.wrapper[data-state= "what"] .overlay2 a {
	color: var(--bgColorWhat);
}

.wrapper[data-state= "work"] .overlay2 a {
	color: var(--bgColorWork);
}
.overlay2 a:hover, .overlay2 a:focus {
	color: #f1f1f1;
}
.overlay2 .closebtn2 {
	position: absolute;
	top: -20px;
	right: 20px;
	font-size: 60px;
	z-index: 999;
	padding: 8px;
}
/*

.wrapper[data-state= "intro"] .overlay2 .closebtn2 {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "who"] .overlay2 .closebtn2 {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "what"] .overlay2 .closebtn2 {
	background-color: var(--fontColorW);
}

.wrapper[data-state= "work"] .overlay2 .closebtn2 {
	background-color: var(--fontColorW);
}
*/

/** Contact Overlay Ends Here **/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.clicknav {
	display: initial !important;
}
#navbar ul {
	display: none !important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.clicknav {
	display: initial !important;
}
#navbar ul {
	display: none !important;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.clicknav {
	display: initial !important;
}
#navbar ul {
	display: none !important;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.clicknav {
	display: none !important;
}
#navbar ul {
	display: initial !important;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.clicknav {
	display: none !important;
}
#navbar ul {
	display: initial !important;
}
}

.viewport {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
body[data-state="intro"] .viewport {
	background: var(--bgColorIntro);
}

body[data-state="who"] .viewport {
	background: var(--bgColorWho);
}

body[data-state="what"] .viewport {
	background: var(--bgColorWhat);
}

body[data-state="work"] .viewport {
	background: var(--bgColorWork);
}
.scroll-container {
	position: fixed;
	overflow: hidden;
	z-index: 10;
	justify-content: center;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
#parallax {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}
body[data-state= "intro"] #parallax {
	background-image: url(../img/banner/figure-1.png);
}
body[data-state= "who"] #parallax {
	background-image: url(../img/banner/who-figure-1.png);
	z-index: 1;
}

body[data-state= "what"] #parallax {
	background-image: url(../img/banner/what-figure-1.png);
	z-index: 1;
}

body[data-state= "work"] #parallax {
	background-image: url(../img/banner/work-figure-1.png);
	z-index: 1;
}



/*.wrapper p::selection, .wrapper h1::selection, .wrapper h2::selection, .wrapper h3::selection, a::selection, li::selection, ul::selection, .wrapper h4::selection, .cr-text::selection {
  background: var(--fontColorB);
  color: var(--bgColorIntro);
}*/


body[data-state="intro"] .wrapper p::selection, 
body[data-state="intro"] .wrapper h1::selection, 
body[data-state="intro"] .wrapper h2::selection, 
body[data-state="intro"] .wrapper h3::selection, 
body[data-state="intro"] a::selection, 
body[data-state="intro"] .wrapper h4::selection, 
body[data-state="intro"] .cr-text::selection {
	background: var(--fontColorB);
	color: var(--bgColorIntro);
}
/* WHO, WHAT, WORK HAS DEFAULT COLORS */
  
.container {
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

body[data-state= "intro"] .container {
	background: var(--bgColorIntro);
}

body[data-state= "who"] .container {
	background: var(--bgColorWho);
}

body[data-state= "what"] .container {
	background: var(--bgColorWhat);
}

body[data-state= "work"] .container {
	background: var(--bgColorWork);
}
.section1 {
	height: 100vh;
	z-index: 1;
}

.sec1-cont {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

.sec1-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 5;
}


body[data-state= "intro"] .sec1-bg {
	background: url(../img/bg/intro-bg-1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

body[data-state= "who"] .sec1-bg {
	background: url(../img/bg/who-bg-1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

body[data-state= "what"] .sec1-bg {
	background: url(../img/bg/what-bg-1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

body[data-state= "work"] .sec1-bg {
	background: url(../img/bg/work-bg-1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.mid-hd-pos {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
}

.mid-hd-sty {
	cursor: default;
	user-select: none;
}

body[data-state= "intro"] .mid-hd-sty {
	position: relative;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: initial !important;
}

body[data-state="intro"] .svg-pos {
	width: 505px;
	height: 195px;
}

body[data-state= "who"] .mid-hd-sty {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 25em;
	margin: 0;
	font-family: 'Cabin', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: var(--contentWho);
}

body[data-state= "what"] .mid-hd-sty {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 25em;
	margin: 0;
	font-family: 'Cabin', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: var(--contentWhat);
}

body[data-state= "work"] .mid-hd-sty {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 25em;
	margin: 0;
	font-family: 'Cabin', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: var(--contentWork);
}
.mid-hd-intro {
	display: none;
}
.mid-hd-who {
	display: none;
}
.mid-hd-what {
	display: none;
}
.mid-hd-work {
	display: none;
}

body[data-state= "intro"] .mid-hd-intro {
	display: initial;
}

body[data-state= "who"] .mid-hd-who {
	display: initial;
}

body[data-state= "what"] .mid-hd-what {
	display: initial;
}

body[data-state= "work"] .mid-hd-work {
	display: initial;
}
.arrows-cont {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 3%;
}
.arrows {
	width: 60px;
	height: 72px;
}
.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

body[data-state="intro"] .arrows path {
	stroke: #2f2f2f;
}
 @keyframes arrow {
0% {
opacity:0
}
40% {
opacity:1
}
80% {
opacity:0
}
100% {
opacity:0
}
}
 @-webkit-keyframes arrow {
0% {
opacity:0
}
40% {
opacity:1
}
80% {
opacity:0
}
100% {
opacity:0
}
}
.arrows path.a1 {
	animation-delay: -1s;
	-webkit-animation-delay: -1s; /* Safari 和 Chrome */
}
.arrows path.a2 {
	animation-delay: -0.5s;
	-webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}
.arrows path.a3 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
.section2 {
	width: 100%;
	height: 30vh;
	text-align: center;
	z-index: 10;
	color: var(--fontColorW);
	overflow: hidden;
}

body[data-state= "intro"] .section2 {
	color: var(--fontColorB);
}

body[data-state= "work"] .section2 {
	height: 100vh;
}
.work-sec2-pos {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section2 h2 {
	margin-top: 80px;
	max-width: 731px;
}

body[data-state= "what"] .section2 h2 {
	margin-top: 80px;
	max-width: 750px;
}

body[data-state= "work"] .section2 h2 {
	margin-top: 80px;
	max-width: 60%;
}
.section2 .h-line {
	position: relative;
	width: 10px;
}
.section2 .h-line:after {
	content: '';
	bottom: 0;
	position: absolute;
	top: 7px;
	width: 0px;
	height: 8px;
	margin: -3.5px 0 0 -12px;
	transform: skewY(-20deg);
}

body[data-state= "intro"] .section2 .h-line:after {
	background-color: var(--contentIntro);
}

body[data-state= "who"] .section2 .h-line:after {
	background-color: var(--contentWho);
}

body[data-state= "what"] .section2 .h-line:after {
	background-color: var(--contentWhat);
}

body[data-state= "work"] .section2 .h-line:after {
	background-color: var(--contentWork);
}
.section2 h2, .section2 h3, .section2 p {
	margin-left: auto;
	margin-right: auto;
}
.section2 p {
	max-width: 574px;
}
h2 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
	line-height: 1.2em;
	letter-spacing: 1px;
}
h3 {
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p {
	font-size: 1em;
	line-height: 1.7em;
	letter-spacing: 1px;
}

body[data-state= "work"] h2 {
	font-size: 6em;
}
.work-main {
	position: absolute;
	height: 70vh;
	width: 100%;
	background-size: 80%;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 1s ease-in-out;
}
.vi-work {
	background-image: url(../img/banner/who-figure-1.png);
	background-position: left;
}
.aw-work {
	background-image: url(../img/banner/what-figure-1.png);
	background-position: right;
}
.sec2-content {
	position: absolute;
	height: 70vh;
	width: 100%;
}
.vi, .aw {
	cursor: pointer;
	text-decoration: underline;
}
.show {
	background-position: center;
	opacity: 1;
}
.work-sub {
	font-size: 1.2em;
}
.section3 {
	width: 100%;
	text-align: center;
	height: 100vh;
	color: var(--fontColorW);
	overflow: hidden;
}
.sec3-content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	z-index: 99;
}
.section3 .sec3-l {
	float: left;
	width: 33.3%;
	height: 100%;
}
.section3 .sec3-c {
	float: left;
	width: 33.3%;
	height: 100%;
}
.section3 .sec3-r {
	float: right;
	width: 33.3%;
	height: 100%;
}
.section3 .sec-heading {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*.section3 .sec-heading h2 {
  font-size: 2.5em;
}*/


body[data-state= "intro"] .section3 .sec-heading h2 {
	font-size: 6em;
}

body[data-state= "who"] .section3 .sec-heading h2 {
	font-size: 2.5em;
}

body[data-state= "what"] .section3 .sec-heading h2 {
	font-size: 6em;
}

body[data-state= "work"] .section3 .sec-heading h2 {
	font-size: 6em;
}
.sec3-service {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 75%;
}
.sec3-service-cont {
	width: 100%;
	height: 100%;
}
#sec3-service {
	font-size: 2.5em;
	color: var(--fontColorW);
	margin-top: 100px;
	margin-bottom: 40px;
}
.sec3-service .sec3-l {
	float: left;
	width: 33.33%;
	height: 100%;
}
.sec3-service .sec3-c {
	float: left;
	width: 33.33%;
	height: 100%;
}
.sec3-service .sec3-r {
	float: right;
	width: 33.33%;
	height: 100%;
}
.section3 .h-line3 {
	position: relative;
	width: 10px;
}
.section3 .h-line3:after {
	content: '';
	bottom: 0;
	position: absolute;
	top: 7px;
	width: 0px;
	height: 8px;
	margin: -3.5px 0 0 -12px;
	transform: skewY(-20deg);
}

body[data-state= "intro"] .section3 .h-line3:after {
	background-color: var(--contentIntro);
}

body[data-state= "who"] .section3 .h-line3:after {
	background-color: var(--contentWho);
}

body[data-state= "what"] .section3 .h-line3:after {
	background-color: var(--contentWhat);
}

body[data-state= "work"] .section3 .h-line3:after {
	background-color: var(--contentWork);
}
.sec3-c .button {
	border: 2px solid var(--bgColorW);
	cursor: pointer;
	letter-spacing: 0.2125rem;
	overflow: hidden;
	margin-left: 10px;
	padding: 20px 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	transition: background 5s cubic-bezier(0.19, 1, 0.22, 1),  border 1s cubic-bezier(0.19, 1, 0.22, 1),  color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	user-select: none;
	width: 200px;
}
.button a {
	color: var(--fontColor);
	text-decoration: none;
}
.button .mask {
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
	background-color: var(--contentIntro);
}
.button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: var(--borderColorB);
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
}
.button:hover a {
	color: var(--fontColorW);
}
.button:hover .mask {
	background-color: var(--bgColorW);
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}
.button:hover .shift {
	transform: translateX(5px);
}

body[data-state= "who"] .sec3-c .button {
	display: none;
}

body[data-state= "who"] .button .mask {
	background-color: var(--contentWho);
}
.rw1 {
	position: relative;
	top: 35%;
	left: 70%;
	transform: translate(-50%, -50%);
	width: 600px;
}
.section3 .sec3-r .rw2 {
	position: relative;
	top: 58%;
	left: 30%;
	transform: translate(-50%, -50%);
	width: 600px;
}
.feat-img {
	position: relative;
	display: inline-block;
}
.img-overlay {
	display: none;
}
.feat-img:hover .img-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ledge {
	position: relative;
	top: 50%;
	left: 50%;
	pointer-events: none;
	width: 0;
	height: 0;
}
.ledge:after {
	background-color: var(--ledgeColor);
}

body[data-state= "intro"] .ledge:after {
	background-color: var(--ledgeIntro);
}

body[data-state= "who"] .ledge:after {
	background-color: var(--ledgeWho);
}

body[data-state= "what"] .ledge:after {
	background-color: var(--ledgeWhat);
}

body[data-state= "work"] .ledge:after {
	background-color: var(--ledgeWork);
}
.ledge > div, .ledge:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 300vw;
	height: 300vw;
	margin-left: -150vw;
}

/** Nav Ledge **/
.navledge {
	position: relative;
	top: 50%;
	left: 50%;
	pointer-events: none;
	width: 0;
	height: 0;
}
.navledge:after {
	background-color: var(--ledgeColor);
}

body[data-state= "intro"] .navledge:after {
	background-color: var(--ledgeIntro);
}

body[data-state= "who"] .navledge:after {
	background-color: var(--ledgeWho);
}

body[data-state= "what"] .navledge:after {
	background-color: var(--bgColorWhat);
}

body[data-state= "work"] .navledge:after {
	background-color: var(--ledgeWork);
}
.navledge > div, .navledge:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 300vw;
	height: 300vw;
	margin-left: -150vw;
}
.nav-ledge {
	position: absolute !important;
	top: 85% !important;
	transform: rotate(-30deg);
	opacity: 0.1;
}
.sec3-work-main {
	width: 100%;
	height: 100%;
	text-align: left;
}
.work-sub1 {
	position: relative;
	width: 70%;
	height: 100%;
	float: left;
}
.work-sub2 {
	position: relative;
	width: 30%;
	height: 100%;
	float: right;
}
.work-sub-hd {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	font-size: 1.3px;
	font-weight: bolder;
	width: 100%;
	height: 30%;
	z-index: 0;
	text-anchor: middle;
	fill: #fff;
	stroke-width: .020px;
	stroke: #fff;
	opacity: 0;
}
.work-sub-hd2 {
	position: absolute;
	top: 20%;
	left: 80%;
	transform: translate(-50%, -50%);
	font-size: 1.3px;
	font-weight: bolder;
	width: 100%;
	height: 30%;
	text-anchor: middle;
	fill: none;
	stroke-width: .020px;
	stroke: #fff;
	z-index: 99;
	opacity: 0;
}
.projects {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 95%;
	height: 70%;
	overflow: hidden;
}
.project {
	width: 100%;
	height: 100%;
}
.project-work1 {
	background: url(../img/featured-projects/furnitureistic.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.project-work2 {
	background: url(../img/featured-projects/pulley-mart.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.project-work3 {
	background: url(../img/featured-projects/project3-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.project-work4 {
	background: url(../img/featured-projects/project4-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.work-type {
	position: absolute;
	top: 25%;
	left: 0%;
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
	color : var(--contentWork);
	letter-spacing: 5px;
	user-select: none;
}
.work-count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
	width: 100%;
	height: 100%;
	user-select: none;
	z-index: 0;
	font-size: 8px;
	text-anchor: middle;
	fill: none;
	stroke: #fff;
	stroke-width: .015px;
}
.view-project {
	position: absolute;
	top: 65%;
	left: 89%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	border: 3px solid var(--contentWork);
	border-radius: 100%;
	padding: 50px;
	transition: all 0.5s;
	z-index: 1;
	animation: buttonAni 4s infinite linear;
}
 @keyframes buttonAni {
 from {
transform: rotate(0deg);
}
 to {
transform: rotate(360deg);
}
}
.vp-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0%;
	height: 0%;
	border-radius: 100%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	background-color: var(--contentWork);
}
.view-project:hover .vp-bg {
	width: 100%;
	height: 100%;
	border: 1px solid var(--contentWork);
}
.vp-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200%;
	font-size: 1em;
	text-align: center;
	letter-spacing: 10px;
	color: var(--contentWhoSection);
	text-decoration: none;
	transition: all 0.5s;
}
.view-project:hover .vp-button {
	color: var(--fontColorB);
	letter-spacing: normal;
}
.vp-button:active {
	color: white;
}
.section4 {
	width: 100%;
	text-align: center;
	height: 100vh;
	background: var(--contentWhoSection);
	color: var(--fontColorB);
	overflow: hidden;
}

body[data-state= "work"] .section4 {
	background-color: var(--bgColorWork);
	color: var(--fontColorW);
}
.section4 .h-line4 {
	position: relative;
	width: 10px;
}
.section4 .h-line4:after {
	content: '';
	bottom: 0;
	position: absolute;
	top: 7px;
	width: 0px;
	height: 8px;
	margin: -3.5px 0 0 -12px;
	transform: skewY(-20deg);
}

body[data-state= "what"] .section4 .h-line4:after {
	background-color: var(--bgColorWhat);
}
.sec4-main {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 75%;
	width: 75%;
}
.sec4-client {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 80px;
	height: 100%;
	width: 75%;
}
.sec4-main h2 {
	font-size: 1.5em;
	font-weight: normal;
}
.clients-all {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	height: 70%;
}
.client {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 18%;
	height: 20%;
	display: inline-block;
}
.client:nth-child(1) {
	background-image: url(../img/clients/1.svg);
}
.client:nth-child(2) {
	background-image: url(../img/clients/2.svg);
}
.client:nth-child(3) {
	background-image: url(../img/clients/3.svg);
}
.client:nth-child(4) {
	background-image: url(../img/clients/4.svg);
}
.client:nth-child(5) {
	background-image: url(../img/clients/5.svg);
}
.client:nth-child(6) {
	background-image: url(../img/clients/6.svg);
}
.client:nth-child(7) {
	background-image: url(../img/clients/7.svg);
}
.client:nth-child(8) {
	background-image: url(../img/clients/8.svg);
}
.client:nth-child(9) {
	background-image: url(../img/clients/9.svg);
}
.client:nth-child(10) {
	background-image: url(../img/clients/10.svg);
}
.client:nth-child(11) {
	background-image: url(../img/clients/11.svg);
}
.client:nth-child(12) {
	background-image: url(../img/clients/12.svg);
}
.client:nth-child(13) {
	background-image: url(../img/clients/13.svg);
}
.client:nth-child(14) {
	background-image: url(../img/clients/14.svg);
}
.client:nth-child(15) {
	background-image: url(../img/clients/15.svg);
}
.client:nth-child(16) {
	background-image: url(../img/clients/16.svg);
}
.client:nth-child(17) {
	background-image: url(../img/clients/17.svg);
}
.client:nth-child(18) {
	background-image: url(../img/clients/18.svg);
}
.client:nth-child(19) {
	background-image: url(../img/clients/19.svg);
}
.client:nth-child(20) {
	background-image: url(../img/clients/20.svg);
}
.client:nth-child(21) {
	background-image: url(../img/clients/21.svg);
}
.client:nth-child(22) {
	background-image: url(../img/clients/22.svg);
}
.client:nth-child(23) {
	background-image: url(../img/clients/23.svg);
}
.client:nth-child(24) {
	background-image: url(../img/clients/24.svg);
}
.client:nth-child(25) {
	background-image: url(../img/clients/25.svg);
}
.section5 {
	width: 100%;
	text-align: center;
	height: 100vh;
	background: var(--contentWhoSection);
	color: var(--fontColorB);
	overflow: hidden;
}

body[data-state= "work"] .section5 {
	background-color: var(--bgColorWork);
	color: var(--fontColorW);
}
.section5 .h-line5 {
	position: relative;
	width: 10px;
}
.section5 .h-line5:after {
	content: '';
	bottom: 0;
	position: absolute;
	top: 7px;
	width: 0px;
	height: 8px;
	margin: -3.5px 0 0 -12px;
	transform: skewY(-20deg);
}

body[data-state= "what"] .section5 .h-line5:after {
	background-color: var(--bgColorWhat);
}
.sec5-main {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 75%;
	width: 75%;
}
.sec5-awards {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
	width: 90%;
}
#counter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: inline-block;
}
.counter-value {
	font-size: 35em;
	color: var(--bgColorWhat);
	font-weight: bolder;
	z-index: 0;
	display: inline-block;
}
.award-star {
	position: absolute;
	top: 70px;
	font-size: 10em;
	color: var(--bgColorWhat);
	font-weight: bolder;
	z-index: 0;
	display: inline-block;
}
.sec5-award-cont {
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 1;
	display: flex;
}
.awards1, .awards2, .awards3 {
	display: inline-block;
	width: 33%;
	text-align: left;
	font-weight: bold;
}
.sec5-award-cont i {
	position: relative;
	bottom: 1px;
	font-size: 0.8em;
	margin-right: 10px;
	font-weight: normal;
}
.awards-notice {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	color: var(--bgColorWhat);
	text-transform: initial;
	font-size: 0.5em;
}
.founder-sec-main {
	height: 80%;
	width: 80%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.founder-sec-main-2 {
	height: 80%;
	width: 80%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.founder-sec-cont-left {
	float: left;
	height: 100%;
	width: 50%;
	text-align: left;
}
.founder-desc {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
}
.founder-desc h3 {
	color: var(--ledgeWho);
	margin: 0;
}
.founder-desc h1 {
	color: var(--bgColorWho);
	font-size: 6em;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 90px;
}
.founder-desc h2 {
	color: var(--fontColorB);
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 40px;
}
.founder-desc p {
	color: var(--fontColorB);
	font-size: 0.9em;
}
.founder-desc .founder-icons {
	float: left;
}
.founder-icons .fa {
	font-size: 1em;
	color: var(--fontColorB);
	margin-right: 10px;
	transition: all 0.4s ease;
}

body[data-state= "who"] .founder-icons .fa:hover {
	color: var(--bgColorWho);
}
.founder-sec-cont-right {
	background: url(../img/featured-projects/founder-1-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	float: right;
	height: 100%;
	width: 50%;
}
.founder-sec-cont-right-2 {
	background: url(../img/featured-projects/founder-2-1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	float: right;
	height: 100%;
	width: 50%;
}
.section6 {
	width: 100%;
	text-align: center;
	height: 100vh;
	background: var(--contentWhoSection);
	color: var(--fontColorB);
	overflow: hidden;
}

body[data-state= "work"] .section6 {
	background-color: var(--bgColorWork);
	color: var(--fontColorW);
}
.scrollTop {
	position: fixed;
	top: 0px;
	right: 0px;
	margin-top: 20px;
	margin-right: 75px;
	cursor: pointer;
}

body[data-state= "intro"] .scrollTop {
	color: var(--fontColorB);
}

body[data-state= "who"] .scrollTop {
	color: var(--contentWho);
}

body[data-state= "what"] .scrollTop {
	color: var(--contentWhat);
}

body[data-state= "work"] .scrollTop {
	color: var(--contentWork);
}
.footer {
	height: 35vh;
	background-color: var(--footerMain);
}
.footer-main {
	height: 30vh;
}
.footer-sub {
	position: absolute;
	background-color: var(--footerSub);
	height: 5vh;
	width: 100%;
}
.cr-text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	font-size: 0.8em;
	color: var(--fontColorB);
	float: left;
}
.s-icons {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	right: 5%;
	display: flex;
	float: right;
}
.s-icons .fa {
	font-size: 1em;
	color: var(--fontColorB);
	margin-right: 15px;
	transition: all 0.4s ease;
}
/*.s-icons .fa:hover {
  color: var(--bgColor);
}*/


body[data-state= "intro"] .s-icons .fa:hover {
	color: var(--bgColorIntro);
}

body[data-state= "who"] .s-icons .fa:hover {
	color: var(--bgColorWho);
}

body[data-state= "what"] .s-icons .fa:hover {
	color: var(--bgColorWhat);
}

body[data-state= "work"] .s-icons .fa:hover {
	color: var(--bgColorWork);
}
#T, #O, #Y, #F, #I, #G, #H, #Tb {
	stroke: var(--contentIntro);
	stroke-width: 2px;
	fill: transparent;
	transform: scale(0.7);
}
#T {
	stroke-dasharray: 464px;
	stroke-dashoffset: -464px;
	animation: T-anim 3s ease-in-out 2s forwards;
}
#O {
	stroke-dasharray: 526px;
	stroke-dashoffset: -526px;
	animation: O-anim 3s ease-in-out 2.1s forwards;
}
#Y {
	stroke-dasharray: 807px;
	stroke-dashoffset: -807px;
	animation: Y-anim 3s ease-in-out 2.2s forwards;
}
#F {
	stroke-dasharray: 733px;
	stroke-dashoffset: -733px;
	animation: F-anim 3s ease-in-out 2.3s forwards;
}
#I {
	stroke-dasharray: 355px;
	stroke-dashoffset: -355px;
	animation: I-anim 3s ease-in-out 2.4s forwards;
}
#G {
	stroke-dasharray: 735px;
	stroke-dashoffset: -735px;
	animation: G-anim 3s ease-in-out 2.5s forwards;
}
#H {
	stroke-dasharray: 696px;
	stroke-dashoffset: -696px;
	animation: H-anim 3s ease-in-out 2.6s forwards;
}
#Tb {
	stroke-dasharray: 451px;
	stroke-dashoffset: -451px;
	animation: Tb-anim 3s ease-in-out 2.7s forwards;
}
 @keyframes T-anim {
 0% {
 stroke-dashoffset: -464px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes O-anim {
 0% {
 stroke-dashoffset: -526px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes Y-anim {
 0% {
 stroke-dashoffset: -807px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes F-anim {
 0% {
 stroke-dashoffset: -733px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes I-anim {
 0% {
 stroke-dashoffset: -355px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes G-anim {
 0% {
 stroke-dashoffset: -735px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes H-anim {
 0% {
 stroke-dashoffset: -696px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
 @keyframes Tb-anim {
 0% {
 stroke-dashoffset: -451px;
 fill: none;
}
 80% {
 stroke-dashoffset: 0px;
 fill: none;
}
 100% {
 fill: var(--contentIntro);
}
}
/* PAGE TRANSITION ANIMATIONS */

/* @keyframes fadeInUp {
  0% {opacity: 0; transform: translate3d(0, 100%, 0);}
  100% {opacity: 1; transform: none;}
}

@keyframes fadeInRight {
  0% {opacity: 0; transform: translateX(100%);}
  100% {opacity: 1; transform: none;}
}

@keyframes fadeInLeft {
  0% {opacity: 0; transform: translate3d(-100%, 0, 0);}
  100% {opacity: 1; transform: none;}
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }



.anim-scene .scene-element {
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.anim-scene .scene-element--fadeinup {animation-name: fadeInUp}
.anim-scene .scene-element--fadeinright {animation-name: fadeInRight}
.anim-scene .scene-element--fadeinleft {animation-name: fadeInLeft}

.anim-scene.is-exiting .scene-element {
  animation-name: fadeOutLeft;    
}

#main[data-transition=fade] .sceneElement {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
} */

.slide-in {
	animation: slide-in 0.5s ease forwards;
}
 @keyframes slide-in {
 from {
 transform: translateX(100%);
 visibility: visible;
}
 to {
 transform: translateX(0%);
}
}
.fade-out {
	animation: 1s fadeOutLeft ease forwards;
}
.fade-in {
	animation: 1s fadeInRight ease forwards;
}
 @keyframes fade-out {
 from {
opacity: 1;
}
 to {
opacity: 0;
}
}
 @keyframes fade-in {
 from {
opacity: 0;
}
 to {
opacity: 1;
}
}
 @keyframes fadeInRight {
 0% {
opacity: 0;
transform: translateX(100%);
}
 100% {
opacity: 1;
transform: none;
}
}
 @keyframes fadeOutLeft {
 0% {
 opacity: 1;
}
 100% {
 opacity: 0;
 transform: translateX(-100%);
}
}



.slide-in {
	animation: slide-in 1s ease-in-out forwards normal;
}

.slide-out {
	animation: slide-out 1s ease-in-out forwards normal;
}

.slide-out2 {
	animation: slide-out2 1s ease-in-out forwards normal;
}

@keyframes slide-in  {
	from {
		transform: translate(100%);
		visibility: visible;
	}
	to {
		transform: translate(0%);
	}
}

@keyframes slide-out  {
	from {
		transform: translate(0%);
	}
	to {
		transform: translate(-100%);
	}
}


@keyframes slide-out2  {
	from {
		transform: translate(0%);
	}
	to {
		transform: translate(100%);
	}
}