/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.logo {
	margin-left: 0px;
}
#navbar {
	top: 0px;
}
#parallax {
	background-size: 120%;
}
.svg-pos {
	transform: scale(0.4);
}
body[data-state= "who"] .mid-hd-sty {
	font-size: 8em;
}
body[data-state= "what"] .mid-hd-sty {
	font-size: 7em;
}
body[data-state= "work"] .mid-hd-sty {
	font-size: 7em;
}
.work-sub-hd {
	position: absolute;
	top: 45%;
	left: 9%;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.work-sub-hd2 {
	position: absolute;
	top: 45%;
	left: 9.5%;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.project-work1, .project-work2, .project-work3, .project-work4 {
	background-size: cover;
	background-position: right;
}
.projects {
	height: 60%;
}
.section2 {
	height: 50vh;
}
h2 {
	font-size: 1.3em;
}
.section2 h2 {
	max-width: 90%;
}
body[data-state= "what"] .section2 h2 {
	max-width: 90%;
}
p {
	font-size: 0.8em;
	line-height: 1.5em;
}
.section2 p {
	max-width: 90%;
}
body[data-state= "work"] .section2 {
	height: 70vh;
}
body[data-state= "work"] h2 {
	font-size: 1.7em;
}
body[data-state= "work"] .section2 h2 {
	max-width: 100%;
}
.work-sub {
	font-size: 0.7em;
}
.work-type {
	top: 30%;
	transform: unset;
	font-size: 0.5em;
}
.view-project {
	left: 100%;
	width: 5px;
	height: 5px;
	padding: 30px;
}
.vp-button {
	font-size: 0.5em;
	letter-spacing: 5px;
}
body[data-state= "intro"] .section3 .sec-heading h2 {
	font-size: 4em;
}
body[data-state= "who"] .section3 .sec-heading h2 {
	font-size: 2em;
	padding-top: 20px;
}
body[data-state= "who"] .section3 .sec3-l {
	display: none;
}
.section3 .sec3-c {
	width: 100%;
}
body[data-state= "who"] .section3 .sec3-r {
	display: none;
}
body[data-state= "what"] .section3 .sec3-l {
	float: left;
	width: 33.3%;
	height: 100%;
}
body[data-state= "what"] .section3 .sec3-c {
	float: left;
	width: 33.3%;
	height: 100%;
}
body[data-state= "what"] .section3 .sec3-r {
	float: right;
	width: 33.3%;
	height: 100%;
}
body[data-state= "what"] .section3 .sec3-r {
	float: right;
	width: 33.3%;
	height: 100%;
}
body[data-state= "what"] #sec3-service {
	font-size: 1em;
	margin-top: 50px;
}
body[data-state= "what"] .sec3-service {
	width: 100%;
}
body[data-state= "what"] .sec4-main h2 {
	font-size: 1em;
}
body[data-state= "what"] .sec4-main {
	width: 90%;
}
body[data-state= "what"] .sec4-client {
	width: 100%;
}
body[data-state= "what"] .clients-all {
	width: 100%;
}
.sec5-award-cont {
	display: initial;
	left: 50%;
}
.sec5-awards {
	width: 100%;
}
.counter-value {
	font-size: 10em;
}
.award-star {
	top: 5%;
	font-size: 5em;
}
.awards1, .awards2, .awards3 {
	font-size: 0.5em;
	text-align: center;
	width: 100%;
}
.rw1 {
	width: 250px;
}
.section3 .sec3-r .rw2 {
	width: 250px;
}
body[data-state= "intro"] .section3 .sec3-l {
	display: none;
}
.sec3-c .button {
	padding: 10px 10px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	margin-top: 40px;
	margin-left: 0px;
}
body[data-state= "who"] .sec3-c .button {
	display: block;
}
.founder-sec-main {
	height: 100%;
	width: 100%;
}
.founder-sec-main-2 {
	height: 100%;
	width: 100%;
}
.founder-sec-cont-left {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 80%;
}
.founder-desc {
	width: 90%;
	height: 75%;
}
.founder-desc h1 {
	font-size: 2.5em;
	line-height: 40px;
}
.founder-desc h2 {
	font-size: 1em;
}
.founder-desc p {
	color: var(--fontColorB);
	font-size: 0.8em;
}
.founder-sec-cont-right {
	position: absolute;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
	background-size: 150%;
	background-position: left;
}
.founder-sec-cont-right-2 {
	position: absolute;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
	background-size: 150%;
	background-position: left;
}
.scrollTop {
	margin-top: 0px;
	margin-right: 25px;
}
.cr-text {
	font-size: 0.5em;
}
.s-icons {
	top: 40%;
}
.s-icons .fa {
	font-size: 0.5em;
	margin-right: 5px;
}
.arrows {
	transform: scale(0.7);
}
.arrows-cont {
	bottom: 8%;
}
.navcont-content {
	bottom: 7%;
}
.navcont-content h2 {
	font-size: 1em !important;
}
.fa-sty {
	font-size: 0.3em !important;
}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.logo{
	margin-left: 0;
}
.overlay .closebtn{
	top: -10px;
}
#parallax {
	background-size: 100%;
}
.work-main {
	background-size: 100%;
}
.section2 h2 {
	max-width: 530px;
	margin-top: 60px;
}
.section2 p {
	max-width: 400px;
}
.section2 {
	height: 30vh;
}
body[data-state= "who"] .mid-hd-sty {
	font-size: 12em;
}
body[data-state= "what"] .mid-hd-sty {
	font-size: 12em;
}
body[data-state= "work"] .mid-hd-sty {
	font-size: 12em;
}
.founder-desc {
	height: unset;
	width: 80%;
}
.founder-desc h1 {
	font-size: 4.5em;
	line-height: 70px;
}
.founder-desc h2 {
	font-size: 1.5em;
}
.founder-desc p {
	font-size: 1em;
}
.sec5-award-cont {
	display: inline-flex;
}
.awards1, .awards2, .awards3 {
	width: 33.33%;
	font-size: 0.6em;
}
.counter-value {
	font-size: 20em;
}
body[data-state= "what"] .section2 p {
	max-width: 500px;
}
body[data-state= "what"] #sec3-service {
	font-size: 1.5em;
}
body[data-state= "work"] .section2 h2 {
	max-width: 70%;
}
body[data-state= "work"] h2 {
	font-size: 2.5em;
}
.work-sub {
	font-size: 1em;
}
.work-sub-hd2 {
	left: 9.5%;
}
.view-project {
	width: 40px;
	height: 40px;
}
.vp-button {
	font-size: 0.7em;
	letter-spacing: 7px;
}
.arrows {
	transform: scale(0.7);
}
.arrows-cont {
	bottom: 8%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.logo {
	margin-left: 10px;
	margin-top: 6px;
}
.main-logo {
	width: 100px;
}
.clicknav {
	font-size: 3em;
	right: 20px;
}
.overlay .closebtn{
	top: -8px;
	right: 15px;
}
.scrollTop {
	margin-top: 10px;
	margin-right: 35px;
	font-size: 1.5em;
}
#parallax {
	background-size: 100%;
}
body[data-state= "intro"] .section3 .sec-heading h2 {
	font-size: 4em;
}
.rw1 {
	top: 43%;
	left: 62%;
	width: 300px;
}
.section3 .sec3-r .rw2 {
	top: 54%;
	left: 50%;
	width: 300px;
}
body[data-state= "who"] .mid-hd-sty {
	font-size: 18em;
}
body[data-state= "what"] .mid-hd-sty {
	font-size: 18em;
}
body[data-state= "work"] .mid-hd-sty {
	font-size: 18em;
}
.founder-sec-cont-left {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 80%;
}
.founder-sec-cont-right {
	position: absolute;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
	background-size: 150%;
	background-position: left;
}
.founder-sec-cont-right-2 {
	position: absolute;
	width: 100%;
	opacity: 0.4;
	z-index: -1;
	background-size: 150%;
	background-position: left;
}
.sec4-main {
	width: 90%;
}
.sec4-client {
	width: 100%;
}
.clients-all {
	width: 90%;
}
.sec5-main {
	width: 100%;
}
.counter-value {
	font-size: 30em;
}
.sec5-award-cont {
	left: 50%;
}
.awards1, .awards2, .awards3 {
	font-size: 0.8em;
	text-align: center;
}
body[data-state= "work"] .section2 h2 {
	max-width: 90%;
}
body[data-state= "work"] h2 {
	font-size: 4em;
}
.work-main {
	background-size: 100%;
}
.work-sub-hd {
	position: absolute;
	top: 45%;
	left: 9%;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.work-sub-hd2 {
	position: absolute;
	top: 45%;
	left: 9.5%;
	transform: translate(-50%, -50%) rotate(-90deg);
}
.view-project {
	left: 80%;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* MDPI Laptops */
@media only screen and (min-width: 1280px) and (max-width: 1440px)  and (max-height: 800px) {
.mid-hd-sty {
	font-size: 20em !important;
}
body[data-state= "work"] .section2 h2 {
	max-width: 80% !important;
}
.section2 {
	height: 50vh;
}
.counter-value {
	font-size: 25em;
}
.scrollTop {
	top: -5px;
}
#parallax {
	background-size: 65%;
}
}

/* HDPI Laptops */
@media only screen and (min-width: 1440px)  and (max-height: 900px) {
.mid-hd-sty {
	font-size: 20em !important;
}
body[data-state= "work"] .section2 h2 {
	max-width: 80% !important;
}
.section2 {
	height: 50vh;
}
.counter-value {
	font-size: 25em;
}
.scrollTop {
	top: -5px;
}
}