/** Page1 Parallax Elements Starts Here **/

#wrapper_header {
	min-height: 100%;
	height: 100%;
}
#center-div {
	position: absolute;
	margin: auto;
	display: inline-block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
}
/* Main Image */
#element1 {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	transform: translate(-50%, -50%);
}
/* Div Overlay */
#element2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -55%);
	background-color: transparent;
}

@media screen and (max-width: 1280px) {
}
